services:
  - type: web
    name: xplore-technews-api
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    healthCheckPath: /api/articles
    envVars:
      - key: PORT
        value: 5000
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: VAPID_PUBLIC_KEY
        sync: false
      - key: VAPID_PRIVATE_KEY
        sync: false
      - key: VAPID_EMAIL
        sync: false
      - key: CLIENT_URL
        sync: false
